.THIS .leftPaddingClass {
    padding-left: 2rem;
}
.THIS .inlineCombo {
    position: absolute !important;
    width:60px;
}
.THIS .hideSearchResult {
    Display: none !important;
}
.THIS .displaySearchResult {
    Display: block !important;
}