<template>
    <div if:true={_selectedObjectType} class="slds-grid slds-wrap">
        <div class="slds-col slds-p-left--none slds-size--2-of-3">
            <span class="custom-add-fields-header">
            {fieldSelectorLabel}
                </span>
        </div>
        <div class="slds-col_bump-left slds-align-top">
            <!--<lightning-button
                    label={labels.buttonAddAll}
                    onclick={handleAddAll}
            ></lightning-button>-->
        </div>
        <div class="slds-p-left--none slds-col slds-size--1-of-1">
            <div if:true={_selectedFieldPath}>
                <label class="slds-form-element__label slds-p-right--none custom-path custom-cursor-pointer"
                       onclick={clearSelected}>
                    Path: {formattedPath}
                </label>
            </div>
        </div>
    </div>

    <div class="slds-box slds-p-around--none" style="width: 100%;">
        <div class="slds-form-element slds-p-left--xx-small slds-scrollable_y field-picker" style={fieldSelectorStyle}>
            <div class="slds-form-element__control">
                <template for:each={_options} for:item="curOptionElement">
                    <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                         onmousedown={handleMouseDown}
                         onmouseup={handleMouseUp}
                         onmouseleave={handleMouseUp}
                         key={curOptionElement.key}
                         role="option">
                                                <span class="slds-media__figure slds-p-top--xx-small">
                                                    <span class="slds-icon_container">
                                                        <lightning-icon icon-name={curOptionElement.optionIcon}
                                                                        class="slds-icon slds-icon_small slds-icon-text-default"
                                                                        size="x-small"></lightning-icon>
                                                    </span>
                                                </span>
                        <span data-value={curOptionElement.value}
                              onclick={handleSetSelectedRecord}
                              class="slds-media__body">
                                                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">{curOptionElement.label}</span>
                                                    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">{curOptionElement.displayType}</span>
                                                </span>
                        <div if:true={curOptionElement.isSObject}
                             data-option-value={curOptionElement.relationshipName}
                             data-object-type={curOptionElement.objectType}
                             class="slds-float--right slds-p-left--large slds-p-right--x-small"
                             style="height: 100%;" onclick={handleOpenObject}>
                            <lightning-icon
                                    icon-name="utility:chevronright"
                                    size="x-small"
                            ></lightning-icon>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>